<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redis-Recipes</title>
</head>
<body>
    Here is the Details of Recipe. <br>
    <!-- {{recipes}} -->

    <img src="{{recipe.image_url}}" height="50px", width="50px">
    <br>
    {{recipe.name}} <br>
    {{recipe.image_url}} <br>
    {{recipe.description}}
    
    
    </table>
</body>
</html>